.tracks {

}

img{
    height: 150px;
    width: 150px;
    margin-right: 20px;
    display: inline-block;
}
.title{
    margin-top: 15px;
    margin-bottom: 5px;
}
.desc{
    float: right;
    text-align: justify;
    display: inline-block;
}
