@import "globals.scss";

html {
  background-color: #FFFFFF;
}

body {
  @include PrimaryFont;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 14px;
}

button {
  @include PrimaryFont;

  &:focus {
    outline: 0;
  }
}


* {
  margin: 0;
  padding: 0;
  color: $black;
}
