@import "stylesheets/globals.scss";

.section {
  .title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
    text-align: center;
  }

  .content {
    .description {
      @include Description;
    }

    > div:nth-child(n + 2) {
      margin-top: 24px;
    }
  }

  margin-bottom: 88px;
}
