@import "stylesheets/index.scss";
@import "stylesheets/globals.scss";

// Should be removed along with the corresponding div once v2 of the website is
// complete. This just centers the container vertically.
.landingPageContent {
  display: flex;
  align-items: center;
}

.container {
  width: $containerWidth;
  margin: 0 auto;
  margin-top: 64px;
}

.summary {
  margin-top: $spacingMargin;
}

.callToActions {
  margin-top: $spacingMargin;

  > div:nth-child(n + 2) {
    margin-left: $spacingMargin;
  }
}
